%h2="All Member of the Project: #{@proj.name}"
%ul#project-member-list
  - @members.each do |m|
    %li
      - if (params[:target])
        - if (@task.is_worker? m.member)
          %input{type: "radio", value: "#{m.member.name}", checked: "checked"}
          = m.member.realname
        - else
          %input{type: "radio", value: "#{m.member.name}"}
          = m.member.realname
      - elsif (@task && @task.is_worker?(m.member))
        %input{type: "checkbox", value: "#{m.member.name}", checked: "checked"}
        = m.member.realname
      - else
        %input{type: "checkbox", value: "#{m.member.name}"}
        = m.member.realname

