%h2 My Tasks
%table{width: "100%", border: "0", cellpadding: "7px", cellspacing: "0px"}
  %tr
    %th Name
    %th Priority
    %th Created
    %th Status
    %th Completed
  - @tasks.each do |t|
    %tr
      %td.right-border
        = link_to t.name, "/tasks/#{t.get_id}"
      %td.right-border
        = TasksHelper.priority_names(t.priority)
      %td.right-border
        = t.created_at.strftime("%d.%m.%Y %H:%M")
      %td.right-border
        = t.status.capitalize
      %td.right-border
        = (t.status == "complete") ? t.completed_at.strftime("%d.%m.%Y %H:%M") : ""

