= render partial: "organisations/sidebar"

#contentbar
  %h3
    = @name
    %em= " - Organisation"

  %p= "Member of this Organisation: #{@members.size}"

  %p
    %em= @org.description

  %hr

  - if @is_member
    %button#organisation-add-member{onClick:'organisation_add_member_dialog()'} Add more Member
    %button#organisation-edit{onClick:'organisation_edit()'} Edit
    %button#organisation-leave{onClick:'organisation_leave()'} Leave
  - else 
    %button#organisation-join{onclick:'organisation_join();'} Join this Organisation!

.clearbar