!!! 5
%html
  %head
  
    %title= "RubyTask - a Social TeamBox Clone"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  
  %body

    #main
      #banner-box
        = image_tag "Banner2.png"

      -# the stripes on top of the "content-book"
      = render partial: '/shared/navigation'
      
      -# all content goes here
      #content-box.ui-corner-all
        %p= flash[:notice]
        = yield

      = render partial: '/shared/dialog_organisations'