!!! 5
%html
  %head
  
    %title= "RubyTask - a Social TeamBox Clone"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    %link{:rel => "icon", :href => "favicon.ico", :type "image/ico"}
  
  %body

    #main
     #banner-box
        = image_tag "rubytask.png" 

      -# the stripes on top of the "content-book"
      = render partial: '/shared/navigation'
      
      -# all content goes here
      #content-box.ui-corner-all
        %p= flash[:notice]
        = yield
      #dialog-organisations.dialog-custom
      = render partial: '/shared/dialog_search'
      #dialog-tmp-small.dialog-custom
      #dialog-tmp-medium.dialog-custom
      #dialog-tmp-large.dialog-custom
      #dialog-tmp-confirm.dialog-custom
